<!DOCTYPE html>
<html class="no-js" lang='es'> 
    <head>    
        <meta charset="utf-8"/>
        <title> {% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilos.css">
        <script src="prefixfree.min.js"></script>
    </head>

    <body>   
        <header id="encabezado">
            <hgroup id="logo">
                <h1 class="titulo">Sistema de Matriculas</h1>
                <h2>ESCUELA DE INFORMATICA</h2><br>
            </hgroup>
       
            <h3>{% block encabezado %}{% endblock %}</h3>
            <nav>
                <ul>
                    <li><a href="/alumnos" target="_blank" title="Alumnos">Alumnos</a></li>
                    <li><a href="/cursos">Cursos</a></li>
                    <li><a href="/profesores">Profesores</a></li>
                    <li><a href="/contactenos">Contáctenos</a></li>
                    <li><a href="/matriculas">Matricula</a></li>
                </ul>
                {% if user.is_authenticated %}
                <ul>
                    <li><a href="/{{ user.username }}/">Hola {{user.username|capfirst}}</a></li>
                    <li><a  href="/cerrar/">Cerrar</a></li>
                </ul>                        
                {% else %}
                <form  action='/login/' method='post'>
                    {% csrf_token %}
                    <input  type="text" name="username" value="" id="username">
                    <input  type="password" name="password" value="" id="password">
                    <button type="submit" >Ingresar</button>
                    <input type="hidden" name="next" value="{{ NEXT }}" />
                </form>
                {% endif %} 
                <a  href="/usuario/nuevo">Regístrate &raquo;</a> 
            </nav>         
        
        </header>

        <section>
            <article> {% block nombre %}{% endblock %} </article>
           <article> {% block contenido %}{% endblock %} </article>
         </section>
    </body>
    <footer> Sistema desarrollado por QAYSEN</footer>
</html>